@{
    ViewData["Title"] = "Calculadora";
}

@model Operaciones

<div class="row"> 
    <div class="col-6 m-auto">
        <form asp-controller="Calculadora" asp-action="Index" method="Post">
            <div class="card">
                <div class="card-header">
                    Calculadora
                </div>

                <div class="card-body">
                    <div class="mb-2">
                        <label class="Form-label">Primer Dato</label>
                        <input asp-for="PrimerDato" class="form-control" placeholder="Ingrese el primer dato"/>
                    </div>
                    <div class="mb-2">
                        <label class="Form-label">Segundo Dato</label>
                        <input asp-for="PrimerDato" class="form-control" placeholder="Ingrese el segundo dato"/>
                    </div>

                    <div class="mb-2">
                        <label class="Form-label">Operacion</label>
                        <select asp-for="TipoOperacionId" class="from-control">
                            @foreach (var operacion in Model.ListaOperaciones)
                            {
                                <option value="@operacion.Id">@operacion.Nombre</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Procesar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row"> 
    <div class="col-6 m-auto">
        @if (Model is not null)
        {
            <div class="alert alert-primary mt-4">
                @Model.Resultado
                </div>
        }
    </div>
</div>

